* {
    padding: 0;
    margin: 0;
   
}

body {
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    


}

/* common*/
.btn-1 {

    width: 196px;
    height: 44px;
    padding: 10px 24px;
    border-radius: 41px;
    background: rgb(224, 44, 109);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
    border: none;



}

/* header */
header {
    max-width: 1140px;
    margin: auto;

}

/*nav section*/

nav {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

nav .title {
    /* border: 1px solid red; */
    align-items: center;
    display: flex;
}

nav .title h3 {
    color: rgb(58, 58, 58);
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    transition: all 1s;

}

nav ul li {

    padding: 10px;
    margin: 5px;
    

}


nav ul a {
    text-decoration: none;
    color: rgb(58, 58, 58);
    font-size: 1rem;
    font-weight: 600;
    line-height: 2rem;
    text-align: left;
    padding: 1rem;
}

/* hero section */

.hero {
    /* border: 2px solid red; */
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .title {
    /* border: 1px solid red; */
    width: 50%;
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;



}

.hero .title h2 {
    color: rgb(58, 58, 58);
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;

}

.hero .title p {

    color: rgb(58, 58, 58);
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    margin: 40px 0;
}

.hero .img {
    /* border: 2px solid red; */
    width: 50%;
    max-height: 414px;
    background: url(images/Circle\ design.svg) no-repeat right center;
    background-size: 80%;
    text-align: center;
    background-attachment: scroll;
    padding: 50px 0;
    text-align: right;


}

.hero .img img {
    width: 90%;
}

/* media query */

@media screen and (min-width:280px) and (max-width:700px) {
    nav {
        justify-content: center;
    }

    nav ul {
        display: none;

    }

    .hero {
        flex-direction: column-reverse;
    }

    .hero .img {
        width: 70%;
        text-align: center;
        background-position: center center;
        background-size: 90%;
    }

    .hero .title {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero .title h2 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

}


/* main*/

main {
    max-width: 1140px;
    margin: 5% auto;
}

/* websites section*/
.websites {
    /* border: 1px solid red; */
    width: 100%;
}

.websites .container {
    /* border: 1px solid red; */
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}

.websites .container img {
    /* border: 1px solid red; */
    width: 10%;
    cursor: pointer;
}


/* gallary section */
.gallary {
    max-width: 1140px;
    margin: 10% auto;
}

.gallary .container {
    /* border: 1px solid red; */
    max-width: 1000px;
    margin: auto;

}

.gallary .container h3 {
    text-align: center;
}

.gallary .container .images {
    width: 95%;
    margin: 5% auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    gap: 30px;
}


.gallary .container .images>div {

    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    padding: 20px;
}

.gallary .container .images>div img {
    width: 100%;
}

.gallary .container h3 {
    color: rgb(58, 58, 58);
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;

}

.gallary .container .images h4 {
    color: rgb(24, 25, 31);
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    text-align: left;
}

.gallary .container .images .p1 {
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
}

.gallary .container .h3 {

    color: rgba(224, 44, 109, 0.87);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: right;
    padding: 20px;
    margin: 20px;
    cursor: pointer;
}

/* feature section*/

.feature {
    max-width: 1140px;
    margin: 10% auto;
    padding: 2%;
}

.feature .container {
    /* border: 1px solid red; */
    max-width: 1140px;
    margin: auto;
    /* padding:10px 30px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;



}

.feature .container .img {
    /* border: 1px solid red; */
    width: 50%;
    height: 100%;


}

.feature .container .img img {
    width: 90%;
    height: 100%;

}

.feature .container .title {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.feature .container .title h3 {
    color: rgb(10, 8, 38);
    font-size: 25px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
}

.feature .container .title p {
    color: rgb(108, 108, 108);
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
}



.feature .container button {
    border-radius: 8px;
}

/* media query */

@media screen and (min-width:280px) and (max-width:700px) {
    * {

        overflow-x: hidden;
    }
    
    .feature .container {
        flex-direction: column-reverse;
    }

    .feature .container .img {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .feature .container .img img {
        width: 100%;
    }

    .feature .container .title {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .feature .container .title h3 {
    
        line-height: 25px;
        text-align: center;
    }

    .feature .container .title p {
        font-size: 14px;
        line-height: 25px;
        text-align: center;
    }
}

/* footer section */

footer {
    max-width: 100%;
    height: 100%;
    background: #0A0826;
    color: white;
    padding: 100px;
    text-align: center;

}

footer .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer .container h3 {


    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    

}

footer .container p {
    color: rgb(217, 219, 225);
    font-size: 14px;
    font-weight: 200;
    line-height: 24px;

}

